elasticsearch-8.10.0/
kibana-8.10.2/
data/
server.log
breeze
test_db
test_shards
test_bulk
breeze_server.log
performance_report.md
push_to_github.go
upload.go
upload_updated.go
EOF
EOF
track/
benchmark_report.md
benchmark_search_report.md
